<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-nav rounded">
        <a class="nav-link text-white active h5" href="/">Shopping List App</a>
        <a th:if="${@currentUser.isLoggedIn() == true}"
           th:href="@{/products/add}"
           class="nav-link text-white active h5">Add Product
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">
                <li th:if="${@currentUser.isLoggedIn() == false}" class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" th:href="@{/login}">Login</a>
                </li>
                <li th:if="${@currentUser.isLoggedIn() == false}" class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" th:href="@{/register}">Register</a>
                </li>
                <li th:if="${@currentUser.isLoggedIn() == true}" class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
